$sansFont: Optima, Arial, Sans-serif;
$serifFont: "Minion Pro", Cambria, Serif;

$white: #FFFFFF;
$black: #000000;

$smallFontSize: 8pt;
$baseFontSize: 10pt;
$mediumFontSize: 12pt;
$largeFontSize: 14pt;
$xlargeFontSize: 18pt;
$xxlargeFontSize: 24pt;

// Import partials

